<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="parent(content,title,script)">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:replace="${title}"></title>
  <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
  <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />
  <link rel="stylesheet" data-th-href="@{'/css/style.css'}" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="dark:bg-gray-600 bg-gray-100 dark:text-white">



  <!--  Common header -->
  

  <div th:if="${loggedInUser}">
    <div data-th-replace="~{user/user_navbar::user-navbar}"></div>
  </div>



  <!-- if user not logged in? -->
  <div th:unless="${loggedInUser}">
    <div data-th-replace="~{navbar::navbar}"></div>
  </div>


  <!--  main content-->

  <div class="p-4">
    <section data-th-replace="${content}"></section>
  </div>

  <!--  Common footer -->
  <footer>
    Mudit Chaturvedi | Spring Boot Application
    <br>
    <p>Copyright @2024 All rights reserved</p>
  </footer>

  <!--flowbite content -->
  <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
  <!-- custom script -->
  <script data-th-src="@{'/js/script.js'}"></script>

  <th:block th:replace="${script}"></th:block>
</body>

</html>