<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title} ,~{::script})}">

<head>
    <title>Sign Up</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
</head>

<body>

    <div id="content">

        <div class="flex justify-center items-center px-4 py-8">
            <div class="w-full max-w-md">
                <!-- Centered form container -->
                <div 
                    class="block p-6 bg-white border-t-[10px] border-blue-700 rounded-xl shadow-sm  dark:bg-gray-800 dark:border-blue-700">
                    <!-- message -->
                     <div data-th-replace="message::messagebox"></div>

                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">SignUp Here</h5>
                    <p class="font-normal text-gray-700 dark:text-gray-400">Start your journey with Smart Contacts
                        Manager on cloud.</p>

                    <form data-th-action="@{'/do-register'}"
                    th:object="${userForm}"
                     method="post" 
                     class="mt-3"
                     novalidate>
                        <!-- name -->
                        <div class="mb-5">
                            <label for="email"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                            <input type="text" 
                            id="name"
                            th:field = "*{name}"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Enter name here" required />
                            
                            <p data-th-if="${#fields.hasErrors('name')}"
                            data-th-errors="*{name}"
                            class="text-red-600 px-1 py-2"></p>    
                        </div>

                        <!-- email -->
                        <div class="mb-3">
                            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                                email</label>
                            <input type="email" 
                            id="email" 
                            th:field = "*{email}"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Enter email" required />
                                <p data-th-if="${#fields.hasErrors('email')}"
                            data-th-errors="*{email}"
                            class="text-red-600 px-1 py-2"></p>  
                        </div>
                        <!-- password -->
                        <div class="mb-3">
                            <label for="password"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New
                                Password</label>
                            <input type="password" 
                            id="password"
                            th:field = "*{password}"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                required />
                                <p data-th-if="${#fields.hasErrors('password')}"
                            data-th-errors="*{password}"
                            class="text-red-600 px-1 py-2"></p>  
                        </div>
                        <!-- phonenumber -->
                        <div class="mb-3">
                            <label for="phone"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact
                                Number</label>
                            <input type="text" 
                            id="phone"
                            th:field = "*{phoneNumber}"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Enter phone number" required />
                                <p data-th-if="${#fields.hasErrors('phoneNumber')}"
                            data-th-errors="*{phoneNumber}"
                            class="text-red-600 px-1 py-2"></p>  
                        </div>
                        <!-- about textarea -->
                        <div class="mb-3">

                            <label for="about"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Write something about yourself</label>
                            <textarea 
                            id="about"  
                            rows="6"
                            th:field = "*{about}"
                                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Write here..."></textarea>
                                <p data-th-if="${#fields.hasErrors('about')}"
                            data-th-errors="*{about}"
                            class="text-red-600 px-1 py-2"></p> 
                                
                        </div>
                        <!-- signup button -->
                         <div class="mb-3 justify-center flex space-x-3">
                            <button type="submit" class="px-3 py-2 rounded bg-gray-800 hover:bg-gray text-white dark:bg-blue-800 dark:hover:bg-blue-800">Sign Up</button>
                            <button type="reset" class="px-3 py-2 rounded bg-blue-800  hover:bg-blue  text-white dark:bg-blue-800 dark:hover-blue-800">Reset</button>
                         </div>
                    </form>


                </div>
            </div>
        </div>




    </div>
    <script>
        console.log("This is Sign Up page");
    </script>

</body>

</html>