<!DOCTYPE html>
<html lang="en"  th:replace = "~{base::parent(~{::#content},~{::title} ,~{::script})}">
<head>
    <title>Sign Up</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
</head>
<body>

    <div id="content">
        <h1>Welcome to Sign Up</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, dignissimos?</p>
    </div>
    <script>
        console.log("This is Sign Up page");
    </script>
    
</body>
</html>