<!-- page to load all the contacts of a user -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::parent(~{::content}, ~{::title}, ~{::script})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts Page</title>
</head>

<body>
    <th:block th:fragment="title">
        <title>Contacts Page</title>
    </th:block>
    <div data-th-fragment="content">
        <!-- sidebar -->
        <div th:if="${loggedInUser}">
            <!-- <div data-th-replace="~{user/sidebar :: sidebar}"></div> -->
        </div>

        <div class="ml-64 pt-20 flex">
            <div class="w-full max-w-6xl">
                <h1 class="text-5xl text-center">welcome to Contacts page</h1>
                <div class="contacts_container p-5">
                    <div
                        class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default">
                        <div data-th-replace="~{message::messagebox}">

                        </div>
                        <!-- search bar form  -->
                        <form 
                            data-th-object="${contactSearchForm}" 
                            data-th-action="@{'/user/contacts/search'}"
                            action="">
                         <div
                            class="flex space-x-4 items-center justify-start flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 p-4">

                            <!-- select box to select type of search {searchby name,phone,email} -->
                            <div>
                                <select 
                                    data-th-field="*{field}" 
                                    
                                    id="countries_disabled"
                                    class="block w-full bg-gray-800  border  border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand px-3 py-2.5 shadow-xs text-fg-disabled">
                                    <option selected value="">Search Field</option>
                                    <option value="name">Name</option>
                                    <option value="phone">Phone</option>
                                    <option value="email">Email</option>
                                    
                                </select>
                            </div>
                            <label for="input-group-1" class="sr-only">Search</label>
                            <div class="relative pd-4 space-x-2">
                                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                    <svg class="w-4 h-4 text-body " aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                        viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                                            d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z" />
                                    </svg>
                                </div>
                                <input  data-th-field="*{value}"  type="text" id="input-group-1"
                                    class="block w-full max-w-96 ps-9 pe-3 py-2 dark:bg-gray-800 border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand shadow-xs placeholder:text-body"
                                    placeholder="      Search">
                            </div>
                            <button  type="submit"
                            class="px-3 py-2 dark:bg-blue-600 text-white rounded">search</button>
                        </div>
                       </form>

                        <table 
                            data-th-if="${pageContacts.totalElements>0}"
                            class="w-full text-sm text-left rtl:text-right text-body">
                            <thead
                                class="text-sm text-body bg-neutral-secondary-medium border-b border-t border-default-medium">
                                <tr>
                                    <th scope="col" class="px-6 py-3 font-medium">
                                        Name
                                    </th>
                                    <th scope="col" class="px-6 py-3 font-medium">
                                        Phone
                                    </th>
                                    <th scope="col" class="px-6 py-3 font-medium">
                                        Links
                                    </th>
                                    <th scope="col" class="px-6 py-3 font-medium">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-th-object="${c}" data-th-each="c : ${pageContacts.getContent()}"
                                    class="bg-neutral-primary-soft border-b border-default hover:bg-neutral-secondary-medium">
                                    <th scope="row" class="flex items-center px-6 py-4 text-heading whitespace-nowrap">
                                        <img onerror="this.src='https://www.kindpng.com/picc/m/24-248253_user-profile-default-image-png-clipart-png-download.png'"
                                            class="w-10 h-10 rounded-full" data-th-src="${c.picture}"
                                            alt="Contact image">
                                        <div class="ps-3">
                                            <div data-th-text="*{name}" class="text-base font-semibold">Neil Sims</div>
                                            <div class="font-normal text-body" data-th-text="*{email}">
                                                neil.sims@flowbite.com</div>
                                        </div>
                                    </th>
                                    <td class="px-6 py-4">
                                        <i class="fa-solid fa-phone h-4 w-4 "></i>
                                        <span data-th-text="*{phonenumber}"> </span>
                                    </td>
                                    <td class="px-6 py-4">
                                        <div class="flex items-center">
                                            <div data-th-if="*{favourite}"
                                                class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div>
                                            <a data-th-href="@{*{websiteLink}}" target="_blank"> <i
                                                    class="fa-solid fa-link h-6 w-6"></i></a>
                                            <a data-th-href="@{*{linkedInLink}}" target="_blank"> <i
                                                    class="fa-brands fa-linkedin h-6 w-6"></i></a>
                                        </div>
                                    </td>
                                    <td class="px-6 py-4">
                                        <div>
                                            <!-- <a data-th-href="@{'/user/contacts/delete/'+*{id}}"><i class="fa-solid fa-trash  h-6 w-6 "></i></a> -->
                                            <!-- del contact button  -->
                                            <button data-th-onclick="deleteContact([[${c.id}]])"><i class="fa-solid fa-trash  h-6 w-6 "></i></button>
                                            
                                            <!-- update contact button -->
                                            
                                            <a data-th-href="@{'/user/contacts/view/'+*{id}}"><i class="fa-solid fa-pen h-6 w-6 "></i></a>
                                            
                                            <!-- view contact button  -->
                                             <button data-th-onclick="loadContactData([[${c.id}]])">
                                                <i class="fa-solid fa-eye h-6 w-6 "></i></button>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <!-- pagination component -->
                        <div 
                            data-th-if="${pageContacts.totalElements>0}"
                        class="pagination_container p-5 text-center flex justify-center dark:bg-gray-700">
                            <nav aria-label="Page navigation example">
                                <ul class="flex -space-x-px text-sm">
                                    <li data-th-unless="${pageContacts.first}">
                                        <a data-th-href="@{'/user/contacts?size='+${pageSize}+'&page='+${pageContacts.number-1}}"
                                            href="#"
                                            class="flex items-center justify-center text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading font-medium rounded-s-base text-sm px-3 h-10 focus:outline-none">Previous</a>
                                    </li>
                                    <li data-th-each="index: ${#numbers.sequence(0,pageContacts.totalPages-1)}">
                                        <a data-th-href="@{'/user/contacts?size='+${pageSize}+'&page='+${index}}"
                                            data-th-classappend="${index==pageContacts.number ? 'bg-blue-50 dark:bg-gray-800':'bg-white dark:bg-gray-600'}"
                                            href="#"
                                            class="flex items-center justify-center text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading font-medium text-sm w-10 h-10 focus:outline-none">
                                            <span data-th-text="${index+1}"></span>
                                        </a>
                                    </li>
                                    <li data-th-unless="${pageContacts.last}">
                                        <a data-th-href="@{'/user/contacts?size='+${pageSize}+'&page='+${pageContacts.number+1}}"
                                            href="#"
                                            class="flex items-center justify-center text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading font-medium rounded-e-base text-sm px-3 h-10 focus:outline-none">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <h2 class="bg:white" data-th-if="${pageContacts.totalElements<=0}">No saved contacts..</h2>
                    </div>

                </div>
            </div>

            <div data-th-replace="~{user/contact_modal ::contact}"></div>

        </div>
    </div>
    <script  data-th-src="@{'/js/view_contact.js'}"></script>
    <th:block th:fragment="script">
        <script>
            console.log("Contacts Page");
        </script>
    </th:block>
</body>

</html>